<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>home</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="marlon-santos" />
    <link rel="icon" href="/image/favicon.png" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body id="home">
    <main>
      <header>
        <div id="default">
          <input id="turnon" type="button" value="Ligar" />
        </div>
      </header>
      <article>
        <div id="myportfolio">My Portfolio</div>
        <div id="profile">
          <img th:src="@{/images/profile.jpg}" />
        </div>
      </article>
      <footer>
        <div>
          <div>Test1</div>
        </div>
        <div>
          <div>Test2</div>
        </div>
        <div>
          <div>Test3</div>
        </div>
      </footer>
    </main>
    <script>
      //==============================================
      let id = document.querySelector("#home");
      let input = document.querySelector("#turnon");
      let profile = document.querySelector("#profile");
      let myPortfolio = document.querySelector("#myportfolio");
      let borderOn = false;
      let turnOn = false;
      let myportfolioOn = false;
      input.addEventListener("click", e => {
        if (turnOn) {
          console.log(e.currentTarget);
          id.style.backgroundColor = "black";
          input.value = "Ligar";
          input.style.backgroundColor = "white";
          input.style.color = "black";
          profile.style.borderColor = "white";
          myportfolio.style.color = "white";
          turnOn = !turnOn;
          borderOn = !borderOn;
          myportfolioOn = !myportfolioOn;
        } else {
          id.style.backgroundColor = "white";
          input.value = "Desligar";
          input.style.backgroundColor = "black";
          input.style.color = "white";
          profile.style.borderColor = "black";
          myportfolio.style.color = "black";
          turnOn = !turnOn;
          borderOn = !borderOn;
          myportfolioOn = !myportfolioOn;
        }
      });
      //===============================================
    </script>
  </body>
</html>
